.main {
    background-image: url('../img/html_css_js.png');
    background-repeat: no-repeat;
    background-position:  right 40px top 20px;
    background-position: top calc(8vw + 15px) right calc(0.16vw + 8.26px);
    background-size: calc(16.26vw + 89.7px);
    margin-bottom: 160px;
    margin-left: 30px;
}
.info {
    display: flex;
    margin-bottom: calc(1.84vw + 41.6px);
    flex-wrap: wrap;
}
section {
    margin-top: calc(0.20vw + 40.75px);
    margin-left: calc(6.22vw + 0.65px);
    margin-right: calc(6.22vw + 0.65px);
    margin-bottom: calc(6.5vw + 35.648px);
}
    
  * {
    margin: 0;
  } 

.start {
    margin-right: 20px;
    
}
.htmlcss {
    font-family: Chava-Regular;
    margin-top: 75px;
    margin-bottom: 40px;
    font-size: 80px;
    line-height: 110%;
    font-size: calc(2.5vw + 32.75px);
}
.logo {
    margin-bottom: calc(3.7vw + 14.2px);
    width: calc(5.2vw + 195.520px);
    height: calc(0.65vw + 27.565px)
}
body {
    color: #222;
    font-family: TTHoves-Regular;
    
}
.start2 {

font-size: 21px;
font-weight: 700;

}
.end2 {
font-size: 21px;
font-weight: 700;

}
.primary {
    display: flex;
    width: 328px;
    padding: 20px 0px;
    justify-content: center;
    gap: 10px;
    background: #6E3ABA;
    color: #fff;
    border-radius: 12px;
}

.second {
    display: flex;
    width: 328px;
    padding: 20px 0px;
    justify-content: center;
    gap: 10px;
    background: #fff;
    color: #6E3ABA;
    border: solid 1px #6E3ABA;
    border-radius: 12px;
  
}
@font-face {
    font-family: Chava-Regular;
    src: url(../fonts/Chava-Regular.ttf);
}
@font-face {
    font-family: TTHoves-Regular;
    src: url(../fonts/TTHoves-Regular.ttf);
}
.span {
 
    font-size: 58px;
    font-weight: 500;
    letter-spacing: 0.58px;
    text-transform: uppercase;
}
.btn {
    margin-bottom: 160px;
}
.title {
    font-size: 27px;
    font-weight: 700;
    line-height: 140%; 
    text-transform: uppercase;
    margin-bottom: 20px;
}
    

.ppl {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: calc(0.8vw + 37.06px) 70px;
    margin-top: 50px;
}
.type {
    width: calc(8.44vw + 298.29px);
}
.btn {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.verst {
    font-size: calc(0.6vw + 15.83px);
    font-weight: 300;
    line-height: 140%;
    margin-top: 60px;
}
.backpic {
    height: calc(3.7vw + 216px);
}
.studentpic {
    height: calc(3.7vw + 216px);
}
.begpic {
    height: calc(3.7vw + 216px);
}
.jobpic {
    height: calc(3.7vw + 216px);
}
.infoppl {
    font-size: calc(0.58vw + 15.80px);
    font-weight: 400;
    line-height: 140%;
}
.sale-cont {
    background-color: #6E3ABA;
    padding-top: 60px;
    margin: 0;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.sale-cont h1 {
    color: #FFF;
    font-family: TTHoves-Regular;
    font-size: calc(2vw + 26.5px);
    font-weight: 700;
    letter-spacing: 1.56px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: calc(4vw + 4.6px);
}
.time {
     display: flex;
     flex-direction: column;
     align-items: center;
 
}
.time h2 {
    font-size: calc(12.6vw + 12.76px);
    font-family: Chava-Regular;
}
.time p {
    color: #2F1D4E;
     text-align: center;
    font-size: 27px;
    font-weight: 500;
    text-transform: uppercase;

}
.clock {
    display: flex;
    gap: calc(6vw + 7.2px);
    flex-direction: row;
    justify-content: center;
}
.clockbtn {
    display: flex;
    width: 328px;
    padding: 20px 0px;
    justify-content: center;
    gap: 10px;
    background: #fff;
    color: #6E3ABA;
    border: solid 1px #6E3ABA;
    border-radius: 12px;
    margin-top: 40px;
}
.header_f {
    color: #222;
    font-size: 58px;
    font-weight: 500;
    letter-spacing: 0.58px;
    text-transform: uppercase;
    padding-top: 160px;
    margin-bottom: calc(5.5vw + 19.3px);
}
.legend {
    width: calc(7.8vw + 300px);
}
.infomain {
    color: #222;
    font-size: 27px;
    font-weight: 600;
    line-height: 140%;
    text-transform: uppercase;
}
.result {
    color: #222;
    font-size: 58px;
    font-weight: 500;
    letter-spacing: 0.58px;
    text-transform: uppercase;
    margin-bottom: 90px;
}
.legendmain h1 {
    color: #222;
    font-size: 58px;
    font-weight: 500;
    letter-spacing: 0.58px;
    text-transform: uppercase;
}
.speaker {
    display: flex;
    gap: 0 51px;
}
.speaker_info h2 {
    color: #222;
    font-size: 48px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 20px;
    padding-top: 20px;
}
.spinfo {
    color: #222;
    font-size: 27px;
    font-weight: 400;
    line-height: 140%; 
    max-width: 566px;
    margin-bottom: 90px;
}
.emoji_cards {
    display: flex;
    flex-direction: column;
    gap:  0 90px;
}
.emoji_card {
    max-width: 250px;
    margin: 40px;
}
.emoji_card p {
    color: #222;
    font-size: 21px;
    font-weight: 400;
    line-height: 140%; 
}
.infocourse {
    display: flex;

}
.emoji_container {
    display: flex;
}
.infomain {
    display: flex;
    flex-wrap: wrap;
    margin-top: 90px;
}


@media (max-width:1100px) {
    .speaker {
        flex-direction: column;
    }
    .emoji_cards:nth-child(2) {
        flex-direction: column-reverse;
    }
    .diplomprev:nth-child(1) {
       flex-direction: column-reverse;
}
}

.diplom_screen {
    display: flex;
}
.diplomprev {
    flex-direction: column;
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
}
.diplomprev h2 {
    color: #222;
    font-size: 58px;
    font-weight: 500;
    letter-spacing: 0.58px;
    text-transform: uppercase;
}
.diplomprev p {
    color: #222;
    font-size: 27px;
    font-weight: 400;
    line-height: 140%;
    padding-top: 20px;
}
.diplompic {
    width: calc(11.3vw + 284.3px);
}

.usinfo {
    color: #222;
    font-size: calc(2.6vw + 24px);
    font-weight: 500;
    letter-spacing: 0.58px;
    text-transform: uppercase;   
}
.about_Us {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 97px;
    margin-top: 80px;
    grid-template-areas: "a b"
                         "c d"     ;
}
.about_Us .title_Us {
    font-size: calc(2.6vw + 24px);
}
.about_Us .value {
    font-size: calc(1vw + 13px);
    line-height: 140%;

}
.desc {
    color: #222;
    font-size: 27px;
    font-weight: 600;
    line-height: 140%; 
    text-transform: uppercase;
    grid-area: c;
}
@media (max-weight:600px) {
    .about_Us {
        grid-template-columns: 1fr;
    }
}

.diplominfo {
    display: grid;
    grid-template-columns: 450px 500px;
    grid-template-rows: repeat(2, 150px);
    gap: 20px 20px;
    grid-template-areas: "a b"
                         "c d"     ;
  }
  
  .diplominfo img {
    margin-right: 20px;
    width: calc(11vw + 288.5px);
    height: calc(7.7vw + 201px);
    grid-area: a;
  }
  
  .diplomh1 {
    grid-area: b;
    color: #222;
    font-size: 58px;
    font-weight: 500;
    letter-spacing: 0.58px;
    text-transform: uppercase;
    max-width: 578px;
    min-width: 578px;
  }
  
  .diplominfo p {
    font-size: 27px;
    line-height: 140%;
    max-width: 514px;
    grid-area: d;
    padding-top: 10px;
  }
  
  @media (max-width:700px) {
    .diplominfo {
      grid-template-columns: 430px;
      grid-template-rows: 150px 300px 300px;
      grid-template-areas: "a"
                           "b"
                           "c";
    }
    .diplominfo h1 {
      grid-area: a;
    }
    .diplominfo img {
      grid-area: b;
    }
    .diplominfo p {
      grid-area: c;
    }
  }
.info_cont h1{
    font-size: calc(1.5vw + 28.1px);
    margin-bottom: 90px;
}
.info_main .title{
    font-size:27px;
    font-weight: 600;
    line-height: 140%;
    text-transform: uppercase;
}
.info_main .value{
    margin-top: 20px;
    font-size: 27px;
    line-height: 140%; 
}
.started{
    width: 400px;
    height: 250px;
    grid-area: a;
}
.helpstud{
    width: 420px;
    height: 250px;
    grid-area: b;
}
.results{
    margin-top: 50px;
    width: 400px;
    height: 250px;
    grid-area: c;
}
.prakinf{
    margin-top: 70px;
    width: 400px;
    height: 250px;
    grid-area: d;
}
.info_main{
    display: grid;
    gap: 50px 120px;
    max-width: 400px;
    grid-template-areas: "a b"
                         "c d";
}
@media (max-width: 700px) {
    .info_main{
       
        grid-template-areas:  "a"
                              "b"
                              "c"
                              "d";
    }
}
.coursewraper {
    border: 2px solid black;
    padding: 81px 52px 35px 64px;
}
.crs {
    color: #222;
    font-size: 58px;
    font-weight: 500;
    letter-spacing: 0.58px;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.lesson {
    list-style: none;
    padding-left: 0px;
    margin-bottom: 34px;
}
.lesson li {
    padding: 24px 0;
    border-bottom: 1px solid black;
    font-size: 21px;
    line-height: 140%;
}
.lesson li:nth-child(1){
    padding-top: 0px;
}
.coursewraper .primary {
    display: block;
    margin: 0 auto;
}
.corner img {
    width: 100%;
    height: 100%;
}
.corner {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -3;
    right: -6;

}
.program .primary{
    display: block;
    margin: 0 auto;   
}
.mobile.primary {
    display:  none;
}
@media (max-width:920px) {
    .program .primary{
        display: none;
        margin: 0 auto;   
    }
    .mobile.primary {
        display:  block;
        margin-top: 30px;
    }
    .lesson li:nth-child(:last-child) {
        border-bottom: none;
    }
}